.cta {
    /* border: 1px solid white;
    color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    /* background: var(--gradient-bar); */
}

.cta__content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 30px;
    color: #ffffff;
}

.cta__content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 45px;
    color: #ffffff;
}

.cta__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.cta__btn button {
    background: #000000;
    color: #ffffff;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    min-width: 150px;
}

.cta__btn button:hover {
    background: #d8083c;
    box-shadow:
        0 0 20px 6px #d8083c,
        0 0 30px 12px #6800a5,
        0 0 35px 15px #d45500;
}

@media screen and (max-width: 950px) {
    .SellSafe__cta {
        flex-direction: column;
    }

    .cta__button {
        margin: 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .SellSafe-cta {
        margin: 4rem 2rem;
    }

    .cta__content h3 {
        font-size: 18px;
        line-height: 32px;
        justify-content: center;
    }

    .SellSafe-cta-btn {
        float: left;
    }

    .cta__btn button {
        font-size: 14px;
        line-height: 28px;
        margin: 1rem 0;
    }
}