@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
/* -------------------------------------------------------- */
/* ------------------Borofsky-Design-System---------------- */
/* -------------------------------------------------------- */


/* ----------------- */
/* ------Reset------ */
/* ----------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, figure, picture {
    margin: 0;
}

body {
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #040C18;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    background-image: linear-gradient(#002853, #040c18);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#59519c 1.84%, #5e4a74 102.67%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#ff8a71 1.84%, #ae67fa 102.67%)
}

/* ----------------- */
/* Custom-Properties */
/* ----------------- */

:root {
    --gradient-text: linear-gradient(89.97deg, #6800a5, #d8083c, #6800a5, #d45500);
    --gradient-bar: linear-gradient(103.22deg, #6800a5 -13.86%, #d8083c 99.55%);
    --static-text: linear-gradient(75.35deg, #d8083c, #6800a5);

    --color-bg: #030022;
    --color-footer: #030022;

    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;

    --font-family: 'Karla', sans-serif;
}

/* ----------------- */
/* -Utility-Classes- */
/* ----------------- */

.gradient__bg {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, #030022 0%, #53006880 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, #030022 0%, #53006880 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, #030022 0%, #53006880 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, #030022 0%, #53006880 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, #030022 0%, #53006880 100%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-bakground-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-position: -300%;
    animation: animatedText 6s infinite linear alternate-reverse;
}

.gradient__bar {
    background: linear-gradient(103.22deg, #6800a5, #d8083c, #6800a5, #d45500, #6800a5, #d8083c, #6800a5);
    background-size: 400% 400%;
    -webkit-animation: animatedBackground 30s ease infinite alternate-reverse;
    -moz-animation: animatedBackground 30s ease infinite alternate-reverse;
    animation: animatedBackground 30s ease infinite alternate-reverse;
}


@-webkit-keyframes animatedBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animatedBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes animatedBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.static__text {
    background: var(--static-text);
    background-clip: text;
    -webkit-bakground-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-position: -100%;
}

.button-lg {
    flex: 0.6;
    width: 100%;
    height: 100%;
    background: #ff4820;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 27px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
}

.button-lg:hover {
    background: var(--gradient-bar);
    transform: scale(1.2, 1.2);
    box-shadow:
        0 0 20px 6px #00ff9d,
        0 0 30px 12px #ae67fa,
        0 0 35px 15px #000000;
}

.socmed-lg {
    background-color: var(--gradient-text);
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px 15px -5px #ff4820;
    cursor: pointer;
    font-family: roboto;
    height: 55px;
    font-size: 1.4rem;
    overflow: hidden;
    padding: 1px;
    position: relative;
    transition: text-shadow 0.5s ease;
    width: 55px;
}

.socmed_icon {
    color: #ff4820;
    transition: color 0.5s ease-out;
}

.socmed-lg:hover {
    color: #00ff9d;
    transform: scale(1.2, 1.2);
    box-shadow:
        0 0 6px 3px #ff4820,
        0 0 10px 6px #ff4820,
        0 0 14px 9px #ae67fa;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #ff4820;
    }

    100% {
        box-shadow: 0 0 25px #ff4820;
    }
}


@keyframes animatedText {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%
    }
}

@keyframes animatedText2 {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}